/************************************
            By Dan Harper
        http://www.danharper.me

           For NETTUTS.com

     Check out http://vivawp.com
************************************/

/** {
margin: 0;
padding: 0;
}

body {
font-size: 75%;
color: #222;
background: #ffffff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
}*/

.widget
{
    width: 380px; /*margin: 0px;*/
    padding: 4px;
    background: #000000;
    border: 1px solid #dedbd1; /*margin-bottom: 15px;

-webkit-border-radius: 6px;  
-moz-border-radius: 6px; 
border-radius: 6px; 	*/
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

	.widget a {
	color: #222;
	text-decoration: none;
	}
	
	.widget a:hover {
	color: #009;
	text-decoration: underline;
	}

	/*.tabnav ul {
	margin-left:-100px;
	}*/
	
	.tabnav{
		float:right;
		font-size:9px;	
		margin-left:-30px; 
		margin-top:-23px;
	}
	
	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 0px;
	}
	
		.tabnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
		background-color:#010101;
		font-weight: bold;
		padding: 4px 6px;
		outline: none;

		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topleft: 4px; 
		border-top-left-radius: 4px; 	

		-webkit-border-top-right-radius: 4px;  
		-moz-border-radius-topright: 4px; 
		border-top-right-radius: 4px; 	

		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
		background: #dedbd1;
		color: #222;
		text-decoration: none;
		
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topleft: 4px; 
		border-top-left-radius: 4px; 	

		-webkit-border-top-right-radius: 4px;  
		-moz-border-radius-topright: 4px; 
		border-top-right-radius: 4px; 	

		}
		
	.tabdiv {
	margin-top: 2px;
	background: #fff;
	border: 1px solid #dedbd1;
	padding: 5px;
	
	-webkit-border-radius: 6px;  
	-moz-border-radius: 6px; 
	border-radius: 6px; 	

	}
	
.ui-tabs-hide {
		display: none;
		}

		#featuredvid {
		text-align: center;
		}
		
			.fvid {
			margin-bottom: 5px;
			}
		
			.vidselector li {
			text-align: left;
			list-style: none;
			padding: 5px;
			background: #ffffff;
			border: 1px solid #dedbd1;
			text-transform: uppercase;
			margin-bottom: 5px;
			}
