﻿html, body, #mapGeoJson {
                margin: 0;
                width: 100%;
                height: 100%;
                overflow :hidden;
            }
            
#head
{    
    background-color: #000000;
    color: #0000FF;
    font-family: Arial;
    height: 60px;    
}

#modabile-logo
{
    padding: 0px;
    border-width: 0px;
    background-image: url('../../Scripts/img/logo.png');
    background-repeat: no-repeat;
    margin-left: 35px;
    width: 300px;
    height: 60px;
}

#tabvanilla-box
{
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 49px;
    z-index: 100001;
}

#reqCari
{
    background-image: url('../../Scripts/img/bg-textfield.png');
    background-color: transparent;
    border: 0;
    height: 33px;
    width: 351px;
    margin-top: 0px;
    padding: 0 5px;
    background-repeat: no-repeat;
}		

#reqSubmit
{
    background-image: url('../../Scripts/img/btn-cari.png');
    background-color: transparent;
    border: 0;
    height: 29px;
    width: 35px;
    margin-top: 0px;
    background-repeat: no-repeat;
}


a:link {
    color: #3399DD; 
}
