﻿#MMSI, #From, #To , #CCTV, #VR, #ChannelRadio
{
    background-image: url('../../Scripts/img/bg-textfield-short1.png');
    background-color: transparent;
    background-repeat: no-repeat;
	padding: 5px;
	width:261px;	
	margin-top: 0px;
	border: 0;
	height: 23px;
}
	

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 50px;
	padding-top: 5px;
}

#reqDisplay {
    background:  url('../../Styles/bg-btn-blue.png') repeat-x scroll 0 0 #3399DD;
    border: 1px solid #3399DD;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
       margin-top: 0px;    
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399DD;
}

.kolom-name-ship-list{
	float:left; width:206px; padding:2px; margin-left:70px;
}

#cmdAddShips
{
    background:  url('../../Styles/bg-btn-blue.png') repeat-x scroll 0 0 #3399DD;
    border: 1px solid #3399DD;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;    
    text-shadow: 0 -1px 0 #3399DD;
    top:20px;
    left:320px;
    position:absolute;
}

a:link {
    color: #3399DD; 
}

#cmdRecordedCCTV {
    top:20px;
    left:320px;
    position:absolute;
}

#cmdRecordedVR {
    top:20px;
    left:390px;
    position:absolute;
}

#cmdGetKml
{
    background:  url('../../Styles/bg-btn-blue.png') repeat-x scroll 0 0 #3399DD;
    border: 1px solid #3399DD;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
       margin-top: 0px;    
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399DD;
}

#separator
{
    margin-top:10px;
}

#amount
{
    border: 0;
    color: #000000;
    font-weight: bold;
}

#slider
{
    width: 230px;
    left: 72px;
}