﻿
#toolbar 
{padding: 10px 4px;}

.toolbarDraw {
    font-family: "Trebuchet MS" , "Arial" , "Helvetica" , "Verdana" , "sans-serif";
    width: 777px;
    padding: 12px;
    position: absolute;   
    left:30px;
}

#toolbarDiv
{    
    top: 28px;    
}

/*#toolbarDrawEntryDiv
{    
    top: 63px;
}*/

#toolbarDrawDiv
{    
    top: 65px;
}

