﻿			/*demo page css*/
			body
			{
			    color:white;
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
	border-top-width: 2mm;
	border-right-width: 2mm;
	border-bottom-width: 2mm;
	border-left-width: 2mm;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
        .style10 {font-size: small; font-weight: bold; }
.style19 {font-size: large}
        .style20 {font-size: medium}
        .style21 {font-size: small}
        .style22 { border:0px solid #D4D4D4;}
        .style23 { font-size: x-large;}
        .style25 {font-size: x-large}
        .ii form #tabs #tabs-3 div table .style22 td .style22 div {
	font-weight: bold;
}
    .ii form #tabs #tabs-3 div table .style22 td div {
	font-weight: bold;
}