﻿@charset "utf-8";
/* CSS Document */

html, body, #mapGeoJson
{
    font-family: "Calibri" , Sans-Serif;
    font-size: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #04AEFC;
}

#mapGeoJson{
	float:left; position:absolute; height:94.5%;
}

/* style untuk popup info kapal */
#text {
	position: absolute;
	bottom: 1em;
	left: 1em;
	width: 512px;
	z-index: 20000;
	background-color: white;
	padding: 0 0.5em 0.5em 0.5em;
}
.olPopupContent {
font-size: smaller;
background-color:#88bbd4;
color:#FFF;
}
.olPopupContent a:link{
	color:#FFF;
}

.judul-info{
	color:#3a7490;
	font-weight:bold;
}
.row-judul{
	color:#3a7490;	
	font-family:Arial, sans-serif;
	font-size:11px;
}
.row-isi{
	color:#000;
	font-weight:bold;
	font-family:Arial, sans-serif;
	font-size:11px;
}
.bg-utama{
	background-color:#FFF;
}
.bg-second{
	background-color:#88bbd4;
}

/* layout untuk header */
#ab-wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 100%;
	height:60px;
	background-color:#000;
}


#ab-header
{
    height: 35px;
    background-color: #000000;
    position: relative;
    top: 0px;
    z-index: 2;
}

#logo
{
   
    height:35px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
}

/*tambah margin left setiap penambahan menu*/
#ab-tabvanilla{
	float:left; position:absolute; margin-left:92px; margin-top:35px; left:0px; z-index:100001;
}

#kolom-tabvanilla {
	float: left;
	width: 439px;/*background-color:#333;*/
}
#kolom-startstop {
	float: left;
	width: 24px;
	margin-top:18px;
	margin-left:20px;
}
#kolom-recordpause {
	float: left;
	width: 24px;
	margin-top:18px;
	margin-left:5px;
}
#kolom-sisa {
	float:left;
	width:100px;
	background-color:#CCC;
}
/* layout untuk form searching */
#ab-search-area {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 100%;
	height:33px;
}
#kolom-textfield {
	float:left;
	width:315px;
}
#kolom-btnsearch {
	float:left;
	width:35px;
}
.search-tombol {
	background-image:url(btn-cari.png);
	background-color:transparent;
	border:0;
	height:29px;
	width:35px;
	margin-top:0px;
	margin-left:15px;
	margin-top:2px;
}
/*.search-isian {
	background-image:url(bg-textfield.png);
	background-color:#FF0000;
	border:0;
	height:33px;
	width:315px;
	margin-top:0px;
	padding:0 5px;
	font-style:italic;
	color:#999;
	font-size:11px;
}*/

/* footer */
#footer {
	float:left;
	position:relative;
	z-index:999999;
	margin-top:-81px;
	padding-left:20px;
	background-color:#000;
	color:#FFF;
	font-size:10px;
	width:100%;
	filter:alpha(opacity=20);
	moz-opacity:0.2;
	-khtml-opacity:0.2;
	opacity:0.2;/*background:black;*/
}
#footer2 {
	position:absolute;
	z-index:3;
	bottom:0px;
	padding-left:20px;
	background-color:#000;
	color:#FFF;
	font-size:10px;
	width:100%;
	filter:alpha(opacity=20);
	moz-opacity:0.2;
	-khtml-opacity:0.2;
	opacity:0.2;/*background:black;*/
}
.footer-bar {
	height:4em;
	padding-top:2em;
	filter:alpha(opacity=50);
	moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
	background:black;
	border-top:3px solid #CCC;
	border-bottom:3px solid #CCC;
	margin-top:5.0em;
}

.small-font
{
    font-size:11px;
}

.ab-data-table-search{
	display:inline-table; font-size:11px;
}

/* data table for tabmenu - all */
.ab-data-table{
	 font-size:11px;
	width:360px; 
	height:500px; 
	overflow: auto;
}
.kolom-title {
	/* fallback */ 
	background-color: #515151;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#515151), to(#000000)); 
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #515151, #000000); 
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #515151, #000000); 
	
	/* IE 10 */
	background: -ms-linear-gradient(top, #515151, #000000); 
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #515151, #000000);
}
.terang{
	background-color:#eef9ff;
}
.gelap{
	background-color:#cfeaf9;
}

.kolom-mmsi{
	float:left; width:56px; padding:2px;
}
.kolom-mmsi-kategori{
	float:left; width:106px; padding:2px;word-wrap:break-word;
}
.kolom-delete{
	float:left; width:16px; padding:2px; 
}
.kolom-id-zone{
	float:left; width:16px; padding:2px;
}
.kolom-jmlkapal{
	float:left; width:70px; padding:2px;
}
.kolom-detil-tambat{
	float:left; width:70px; padding:2px;
}
.kolom-zona-watch{
	float:left; width:40px; padding:2px;margin-left:1px;
}

.terang-zone
{
    background: -moz-linear-gradient(top, #FFFFFF, #C0C0C0);
    /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#C0C0C0)); 
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFFFFF, #C0C0C0); 
    color: #000000;
}

.red
{
    color:Red;    
}

.hidden
{
    width:0;
}

.kolom-c{
	float:left; width:26px; padding:2px;
}
.kolom-name{
	float:left; width:180px; padding:2px; margin-left:1px;
}
.kolom-tipe{
	float:left; width:100px; padding:2px; margin-left:1px;
}
.kolom-name-kategori{
	float:left; width:186px; padding:2px; margin-left:1px;
}
.kolom-name-zone{
	float:left; width:136px; padding:2px; margin-left:1px;
}
.kolom-t{
	float:left; width:26px; padding:2px; margin-left:1px;
}
.kolom-l{
	float:left; width:26px; padding:2px; margin-left:1px;
}
.kolom-p{
	float:left; width:26px; padding:2px; margin-left:1px;
}

.baris-title{
	text-align:left; width:365px; color:#FFF;
}
.baris-isi{
	text-align:left; width:365px;
}

/* menu my-moda 
.ab-menu-mymoda{
	height:30px;
}
*/
#start_button, #stop_button, #recorded_button{
	height:30px;
}

#detailKapal {
			
			background-color: rgba(0,0,0,0.5);
			padding: 20px;
			position: fixed;
			top: 0px;
			bottom: 0px;
			text-align: center;
			display: none;
			right: 0px;
			width: 250px;
		}
		
#closeButton
{
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
   position:relative;
   top:15px;
   float:left;
}

.imageShip
{
    position:relative;
    height:130px;
    width:227px;
}

.imageShip a
{
    position:absolute;
    bottom:0px;
    right:0px;
    height:0px;
    width:0px;
}

.imageShip:hover a
{
    background-image: url('../theme/default/img/draw_point_off.png');
    position:absolute;
    bottom:0px;
    right:0px;
    height:22px;
    width:24px;
}
